<div>
    <h1>Iniciar Session</h1>

    <form action="/api/session/login" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <input type="submit" class="btn btn-secondary" value="Iniciar Sesion">
    </form>

    <br>

    <div>
        <a href="/api/session/register"><button class="btn btn-dark">¡Registrate!</button></a>
    </div>

    <br>

    <div>
        <a href="/api/session/github"><button class="btn btn-dark">Entrar con Github</button></a>
    </div>

</div>